<div class="container-fluid">
    <div class="col-md-4 offset-md-4">
      <div class="row vertical-offset-100">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Register</h3>
          </div>
            <div class="panel-body">
              <form accept-charset="UTF-8" role="form">
                <fieldset>
                  <div class="form-group row">
                    <div class="col-md-6">
                      <input type="text" placeholder="Fristname" name="frist" class="form-control">
                    </div>
                    <div class="col-md-6">
                      <input type="text" placeholder="Lastname" name="last" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="E-mail" name="e-mail" value="">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Password" name="password" value="">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Confirm Password" name="cpassword" value="">
                  </div>

                  <!-- Dev Notes -->
                  <!-- Below is the button that should start the create account process -->

                  <button class="btn btn-lg btn-primary" type="submit" (click)="getValues()">Submit</button>
                  <div class="form-group">
                    <span style="font-size: 14px">All ready have an account? <a routerLink="">Click Here</a></span>
                  </div>
                </fieldset>
              </form>
            </div>
        </div>
        <div></div>
      </div>
    </div>
  </div>
