<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">
      <span>
        DashBoard
      </span>
  </a>
</nav>

<!-- FIX THIS! -->
<!-- Small error with bootstrap below -->

<div class="container-fluid">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4"><p>This is the dashboard page</p></div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
      </div>
    </div>
</div>

